<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gsbusiness.livecricketscoreprediction">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CricketApp"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Starts.ThirdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.News.NewsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.News.NewsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.Starts.SecondActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Starts.FirstActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.More.TeamListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.More.PlayerListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.More.SchedulesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Ipl.FieldingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Ipl.BowlingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Ipl.BattingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Ipl.FieldingStatsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Ipl.BowlingStatsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Ipl.BattingStatsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Criclytics.CriclyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Ipl.IplActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Criclytics.CriclyticsCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Criclytics.CriclyticsUCActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Criclytics.ValuablePlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Fantasy.FantasyMatchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fantasy" />
        <activity
            android:name=".Activities.Fantasy.FantasyTeamActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fantasy" />
        <activity
            android:name=".Activities.Fantasy.FantasyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fantasy" />
        <activity
            android:name=".Activities.Criclytics.CriclyticsLiveActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Player.PlayerDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BlueDark" />
        <activity
            android:name=".Activities.Stadium.StadiumDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.PermissionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.TestAdActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExitActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashImageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Match.MatchUpComingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Match.MatchCompleteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Match.MatchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdMob_AppId" />
    </application>

</manifest>